#movies img, #movie img{
    width: 100%;    
}

@media(min-width:960px){
    #movies .col-md-3 .well{
        height: 390px;
        padding:10px;
        background-color: #282828;
        margin: 10px;
    }
    #movies .col-md-3 img{
        height: 240px;
    }
    #movie .row{
        padding: 10px;
        margin:10px;
        background-color: #282828;
    }
}
